<div *ngIf="data$ | async as comision" class="card">
  <div class="card-header">
    Comision {{comision.id | label:"comision"}}
  </div>
    
  <div class="card-body">
    <dl class="row">
        <dt class="col-sm-3 ">Sede</dt>
        <dd class="col-sm-9">{{comision.sede | label:"sede"}}</dd>
          
        <dt class="col-sm-3 ">Plan</dt>
        <dd class="col-sm-9">{{comision.plan | label:"plan"}}</dd>

        <dt class="col-sm-3 ">Periodo</dt>
        <dd class="col-sm-9">{{comision.fecha_anio}}{{comision.fecha_semestre}}</dd>

        <dt class="col-sm-3 ">Tramo</dt>
        <dd class="col-sm-9">{{comision.anio}}{{comision.semestre}}</dd>

        <dt class="col-sm-3 ">Autorizada</dt>
        <dd class="col-sm-9">{{comision.autorizada | siNo}}</dd>
        
        <dt class="col-sm-3 ">Publicada</dt>
        <dd class="col-sm-9">{{comision.publicada | siNo}}</dd>
        
        <dt class="col-sm-3 ">Apertura</dt>
        <dd class="col-sm-9">{{comision.apertura | siNo}}</dd>
      </dl>
    </div>


</div>