
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th><button type="button" class="btn btn-link text-dark font-weight-bold" (click)="order('alta')">Alta</button></th>
            <th><button type="button" class="btn btn-link text-dark font-weight-bold" (click)="order('baja')">Baja</button></th>
            <th *ngIf="isSync('sede')"><button type="button" class="btn btn-link text-dark font-weight-bold" (click)="order('sed_numero', 'sed_nombre')">Sede</button></th>
            <th *ngIf="isSync('persona')"><button type="button" class="btn btn-link text-dark font-weight-bold" (click)="order('per_nombres', 'per_apellidos', 'per_numero_documento')">Persona</button></th>
            <th>Opciones</th>
            </tr>
        </thead>
        <tbody>          
          <tr *ngFor="let row of (data$ | async); let i = index">
              <td><div>{{row.alta}}</div></td>
              <td><div>{{row.baja}}</div></td>
              <td *ngIf="isSync('sede')"><a [routerLink]="['/sede-show']" [queryParams]="{id:row.sede}" >{{row.sede | label:'sede'}}</a></td>
              <td *ngIf="isSync('persona')"><a [routerLink]="['/id-persona-show']" [queryParams]="{id:row.persona}" >{{row.persona | label:'id_persona'}}</a></td>
              <td>
              <a class="btn btn-warning btn-sm" [routerLink]="['/coordinador-admin']" [queryParams]="{id:row.id}" ><span class="oi oi-pencil" title="Modificar"></span></a>
              <button class="btn btn-danger btn-sm" type="button" (click)="delete(i)"><span class="oi oi-trash" title="Eliminar"></span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
