<fieldset [formGroup]="fieldset">
  <div class="form-group form-row">
    <label  class="col-sm-2 col-form-label">Numero</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" formControlName="numero"  [ngClass]="{'is-invalid':(numero.invalid && (numero.dirty || numero.touched))}">
      <div class="text-danger" *ngIf="(numero.touched || numero.dirty) && numero.invalid">
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" formControlName="nombre"  [ngClass]="{'is-invalid':(nombre.invalid && (nombre.dirty || nombre.touched))}">
      <div class="text-danger" *ngIf="(nombre.touched || nombre.dirty) && nombre.invalid">
        <div *ngIf="nombre.errors.required">Debe completar valor</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Organizacion</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" formControlName="organizacion"  [ngClass]="{'is-invalid':(organizacion.invalid && (organizacion.dirty || organizacion.touched))}">
      <div class="text-danger" *ngIf="(organizacion.touched || organizacion.dirty) && organizacion.invalid">
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Observaciones</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" formControlName="observaciones"  [ngClass]="{'is-invalid':(observaciones.invalid && (observaciones.dirty || observaciones.touched))}">
      <div class="text-danger" *ngIf="(observaciones.touched || observaciones.dirty) && observaciones.invalid">
      </div>
    </div>
  </div>
  <div *ngIf="isSync('dependencia')" class="form-group row">
    <label class="col-sm-2 col-form-label">Dependencia</label>
    <div class="col-sm-10">
      <app-fieldset-typeahead  [fieldset]="fieldset" [entityName]="'sede'" [fieldName]="'dependencia'"></app-fieldset-typeahead>
      <div class="text-danger" *ngIf="(dependencia.touched || dependencia.dirty) && dependencia.invalid">
        <div *ngIf="(dependencia.touched && dependencia.errors.unselected)">Valor no seleccionado</div>
      </div>
    </div>
  </div>
  <div *ngIf="isSync('tipo_sede')" class="form-group form-row">
    <label class="col-sm-2 col-form-label">Tipo Sede</label>
    <div class="col-sm-10">
      <select class="form-control" formControlName="tipo_sede" [ngClass]="{'is-invalid':(tipoSede.invalid && (tipoSede.dirty || tipoSede.touched))}">
        <option [ngValue]="null">--Tipo Sede--</option>
        <option *ngFor="let option of (options | async)?.tipo_sede" [value]="option.id" >{{option.id | label:"tipo_sede"}}</option>
      </select>
      <div class="text-danger" *ngIf="(tipoSede.touched || tipoSede.dirty) && tipoSede.invalid">
      </div>
    </div>
  </div>
  <div *ngIf="isSync('domicilio')" class="form-group row">
    <label class="col-sm-2 col-form-label">Domicilio</label>
    <div class="col-sm-10">
      <app-fieldset-typeahead [fieldset]="fieldset" [entityName]="'domicilio'" [fieldName]="'domicilio'"></app-fieldset-typeahead>
      <div class="text-danger" *ngIf="(domicilio.touched || domicilio.dirty) && domicilio.invalid">
        <div *ngIf="domicilio.errors.notUnique">El valor ya se encuentra utilizado: <a routerLink="/sede-admin" [queryParams]="{'domicilio':domicilio.value}">Cargar</a></div>
        <div *ngIf="(domicilio.touched && domicilio.errors.unselected)">Valor no seleccionado</div>
      </div>
    </div>
  </div>
</fieldset>
