
<ng-template #loading>No se han encontrado registros...</ng-template>

<div *ngIf="((data$ | async) && (data$ | async).length) ; else loading" class="container">
  <div *ngFor="let row of (data$ | async); let i = index" class="row align-items-center border">
    <div class="col-md-4">
      <h5 >{{row.id | label:'curso'}}</h5>
          <small><a [routerLink]="['/comision-show']" [queryParams]="{id:row.comision}" >{{row.comision | label:'comision'}}</a></small>
          <br><small><a [routerLink]="['/carga-horaria-show']" [queryParams]="{id:row.carga_horaria}" >{{row.carga_horaria | label:'carga_horaria'}}</a></small>
    </div>
    <div class="col-md">
{{row.alta}} {{row.horario}} 
    </div>
  </div>
</div>
